<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <form>
        <div class = "log">   
            <div class = "header-form">     
                <img src="images/uc_logo.png" class = "img_logo" alt="">
                <h2>Iniciar sesion</h2>
            </div>
            <div class = "datos">
                <div class = "user">
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                
                    <input class="form-input" id="txt-input" type="text" placeholder="Usuario" required>
                </div>
            
      
            <!--   Password -->
                <div>
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
            <!--   Password Input-->
                    <input class="form-input" type="password" placeholder="Contraseña" id="pwd"  name="password" required>
      
            <!--      Show/hide password  -->
                    <span>
                        <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
                    </span>
                </div>
      
            </div>
            <footer>
                <a href="/"><button class="login_btn bn18">Iniciar Sesion</button></a>
                
            </footer>
            </div>

        
        
    </form>
    <script src="funciones.js"></script>
</body>
</html>