*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

form{
    width: 25%;
    height: 65%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content:center;
    padding: 25px 15px;
    box-shadow: 0 9px 50px blue;
   
}

.log{
    height: 100%;
    width: 100%;
}

.header form{
    margin: 2% auto 10% auto;
    text-align: center;

}

.header-form h2{
    position: relative;
    text-align: center;
    margin-top: 40px;
    padding: 0 0 20px
}

.img_logo{
    object-fit: cover;
    height: 120px;
    position: absolute;
    top: -60px;
    left: calc(52% - 50px);
    
    
}

.datos{
    margin-top: 40px;
}